<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="common/header :: common-header" />
  <body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <head th:replace="common/header :: navbar" />
    <div class="container main">
      <div class="row">
        <div class="col-md-6">
          <h3>Agendar Transferência</h3>
          <form th:action="@{/agendar/create}" method="post" id="agendarForm">
            <input type="hidden" name="id" th:value="${agendar.id}" />

            <div class="form-group">
              <label for="dateString">Escolha uma data e hora:</label>
              <div
                class="input-append date form_datetime input-group"
                data-date="2016-10-21T15:25:00Z"
              >
                <input
                  class="form-control"
                  type="text"
                  value=""
                  readonly="readonly"
                  th:value="${dateString}"
                  name="dateString"
                  id="dateString"
                  required="required"
                />
                <span class="input-group-addon"
                  ><i class="fa fa-times" aria-hidden="true"></i
                ></span>
                <span class="input-group-addon"
                  ><i class="fa fa-calendar" aria-hidden="true"></i
                ></span>
              </div>
            </div>

            <div class="form-group">
              <label for="location">local:</label>
              <select
                class="form-control"
                th:value="${appointment.location}"
                name="location"
                id="location"
              >
                <option disabled="disabled" selected="selected">
                  -- selecione o local --
                </option>
                <option>São Paulo</option>
                <option>Rio de Janeiro</option>
                <option>Brasília</option>
                <option>Belo Horizonte</option>
              </select>
            </div>

            <div class="form-group">
              <label for="description">Notas:</label>
              <textarea
                th:value="${agendar.description}"
                class="form-control"
                name="description"
                id="description"
                placeholder="Description"
              ></textarea>
            </div>

            <input
              type="hidden"
              name="${_csrf.parameterName}"
              value="${_csrf.token}"
            />

            <a class="btn btn-primary" id="submitAgendar">Salvar Agendamento</a>
          </form>

          <div class="col-md-6"></div>
        </div>
      </div>
      <br />
    </div>

    <div th:replace="common/header :: body-bottom-scripts" />
  </body>
</html>
